@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

:root {
    --pple: hsl(259, 100%, 65%);
    --lr: hsl(0, 100%, 67%);
    --wht: hsl(0, 0%, 100%);
    --Ofwht: hsl(0, 0%, 94%);
    --lg: hsl(0, 0%, 86%);
    --sg: hsl(0, 1%, 44%);
    --ofblck: hsl(0, 0%, 8%);
    --pink: hsl(350, 100%, 88%);

    --fs-xs: 0.5rem;
    --fs-s: 1rem;
    --fs-l: 1.5rem;
    --fs-xl: 2.5rem;
}

:root {
    --primary-color: #4caf50;
    --secondary-color: #fff;
    --background-color: #f5f5f5;
    --text-color: #333;
    --toggle-checked-color: #4caf50;
    --toggle-unchecked-color: #bbb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    src: url(./assets/images/bday-bg.jpg);
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.container {
     
    border-radius: 1.7em 1.7em 12em 1.7em;
    padding: 3.5em;
    max-width: 840px;
    width: 600px;
    max-height: 550px;
    
    box-shadow: 0px 0px 20px 1px #00000012;
}

.dmy {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    transition: all 0.2s ease;
}

.d,
.m,
.y {
    color: var(--sg);
    display: flex;
    flex-direction: column;
    font-size: var(--fs-s);
    font-weight: 600;
    letter-spacing: 2px;
    gap: 11px;
}

input {
    width: 100%;
    height: 72px;
    outline: none;
    border: 1px solid var(--lg);
    border-radius: 11px;
    padding: 20px;
    font-size: var(--fs-l);
    font-weight: 650;
    caret-color: var(--pple);
    transition: all 0.2s ease;

}

input:focus {
    border-color: var(--pple);
}

.ymd {
    margin-top: -55px;
    display: flex;
    flex-direction: column;
}

.date {
    display: inline-flex;
    align-items: center;
    gap: 19px;
}

.digit,
.yr-mt-dy {
    font-size: var(--fs-xl);
    font-style: italic;
    font-weight: 800;
}

.digit {
    color: var(--pple);
}

hr {
    margin-top: 47px;
    border: 2px solid var(--lg);
    opacity: 0.5;
}

.circle {
    position: relative;
    top: -50px;
    right: -250px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: var(--pple);
    border: none;
    border-radius: 50%;
    margin: 0 auto;

    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: all 0.2s ease-out;

}

.circle:hover {
    background-color: var(--ofblck);
    cursor: pointer;
    transition: all 0.8s ease-out;
}

.check {
    font-size: var(--fs-xs);
    font-weight: 400;
    color: var(--lr);
    letter-spacing: normal;
    max-width: 175px;
    width: 100%;
    height: 30px;
    font-style: italic;
}

.bday-container {
    display: flex;
    display: none;
    border-radius: 15px;
    border: 5px dotted var(--pink);
}

.bday {
    width: 400px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 1px 7px 20px 10px hsl(259deg 100% 65% / 13%);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width:1000px) {

    :root {
        --fs-l: 2rem;
        --fs-xl: 4rem;
    }

    body {
        padding: 40px 10px;
    }

    .circle {
        top: -50px;
        right: 0px;
        margin-bottom: 30px;
    }

    .dmy {
        width: 100%;
        gap: 10px;
    }

    input {
        padding: 8px;
        width: 100%;
        height: 50px;
    }

    .check {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width:500px) {
    :root {
        --fs-l: 1.5rem;
        --fs-xl: 2.5rem;
    }

    input {
        padding: 0;
        height: 50px;
    }
}

.toggle-container {
    display: flex;
    
    margin-top: 3rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-unchecked-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--secondary-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: var(--toggle-checked-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--toggle-checked-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (prefers-color-scheme: white) {
    :root {
        --primary-color: #4caf50;
        --secondary-color: #fff;
        --background-color: #2b2b2b;
        --text-color: #ddd;
        --toggle-checked-color: #4caf50;
        --toggle-unchecked-color: #444;
    }
}
